<% provide(:title, "ShortenURL") %>
<h1>Welcome to the ShortenURL App</h1>
<p>
  This is the main page for the
  <a href="https://ajmalurl.herokuapp.com/">ShortenURL</a>
  application.
</p>

<%= form_for(@site) do |f| %>
  <%= f.label :website %>
  <%= f.url_field :url %>

  <%= f.submit "Shorten URL", class: "btn btn-primary" %>
<% end %>
